body {
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#logs {
    flex-grow: 1;
    overflow: auto;
    background-color: #eee;
    font-family: monospace;
}

#logs pre {
    white-space: pre-wrap;
}

#header, #footer {
    flex-shrink: 0;
    background-color: #ccc;
}

#footer {
    display: flex;
    justify-content: flex-end;
}

#connection-status {
    color: gray;
}