<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="PLAIN"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
	
	<logger name="plain" level="DEBUG" additivity="false">
		<appender-ref ref="PLAIN" />
	</logger>

	<logger name="org.ent.run.EntRunner" level="INFO"/>
	<logger name="org.ent.dev.ManagedRun" level="TRACE"/>
	<logger name="org.ent.dev.DevelopmentPlan" level="TRACE"/>
	<logger name="org.ent.gui.pref.EntPreferences" level="INFO"/>
	<logger name="org.ent.gui.BinaryStatsDataSet" level="INFO"/>
	<logger name="org.ent.dev.unit.DeliveryStash" level="INFO"/>
	
	
</configuration>
